.jumbotron {
    padding:20px;
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000;
    
}
body{
    background-image: url("../img/traintracks.jpg")
}
#tableBody{
    background-color: white
}
